---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import ArticleCard from "../components/articleCard";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const posts = await getCollection("blog");
const articles = await getCollection("articles");

const sortedPosts = getSortedPosts(posts);
const sortedArticles = getSortedPosts(articles);

const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const featuredArticles = sortedArticles.filter(({ data }) => data.featured);
const recentArticles = sortedArticles.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>JDM Cafe</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg
          class="rss-icon"
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
        >
          <path
            d="M160-120v-80h640v80H160Zm160-160q-66 0-113-47t-47-113v-400h640q33 0 56.5 23.5T880-760v120q0 33-23.5 56.5T800-560h-80v120q0 66-47 113t-113 47H320Zm0-80h240q33 0 56.5-23.5T640-440v-320H240v320q0 33 23.5 56.5T320-360Zm400-280h80v-120h-80v120ZM320-360h-80 400-320Z"
          ></path>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>

      <p>
        Learn about buying cars from the Japanese Domestic Market. Access dealers, auction houses, and private sellers with concierge-style export assitance.
      </p>
      <p>
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="../../contact"
        >
          Contact me
        </LinkButton> or check my
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="../../about"
        >
          about page
        </LinkButton> for more info.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      recentArticles.length > 0 && (
        <>
          <section id="featured">
            <h2>Recent Posts</h2>
            <div class="xl:gap-x-8 mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2">
              {recentArticles.map(
                ({ data, slug }, index) =>
                  index < 2 && (
                    <ArticleCard href={`/blog/${slug}/`} frontmatter={data} />
                  )
              )}
            </div>
          </section>
          <div class="all-posts-btn-wrapper">
            <LinkButton href="/blog/">
              all posts
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
              </svg>
            </LinkButton>
          </div>
          {recentArticles.length > 0 && <Hr />}
        </>
      )
    }
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured Cars</h2>
            <div class="xl:gap-x-8 mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-3">
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/cars/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </div>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Cars</h2>
          <div class="xl:gap-x-8 mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-3">
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/cars/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </div>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/cars/">
        all cars
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
